settings {
  default-image-upload-provider "the-null-pointer"
  instant true
}

theme {
  accent-fg "#ab6137"
  accent "#ffffff"
}

keys {
  // direction
  goto "bottom-left" "<"
  goto "top-right" ">"
  goto "center" "gc"
  goto "top-left" "gg"
  goto "bottom-right" "G"
  goto "bottom-left" "<"

  // up movements
  goto "top" "gk"

  move "up" 1 "k"
  extend "up" 1 "K"
  shrink "up" 1 "Ctrl + k"

  move "up" 5 "w"
  extend "up" 5 "W"
  shrink "up" 5 "Ctrl-w"

  // right movements
  goto "right" "gl"

  move "right" 1 "l"
  extend "right" 1 "L"
  shrink "right" 1 "Ctrl-l"

  move "right" 5 "e"
  extend "right" 5 "E"
  shrink "right" 5 "Ctrl-e"

  // left movements
  goto "left" "gh"  

  move "left" 5 "b"
  extend "left" 5 "B"
  shrink "left" 5 "Ctrl-b"

  move "left" 1 "h"
  extend "left" 1 "H"
  shrink "left" 1 "Ctrl-h"

  // bottom movements
  goto "bottom" "gj"

  move "down" 1 "j"
  extend "down" 1 "J"
  shrink "down" 1 "Ctrl-j"

  move "down" 5 "n"
  extend "down" 5 "N"
  shrink "down" 5 "Ctrl-n"
}
