default-image-upload-provider "the-null-pointer"
instant true

theme {
  accent-fg "#ab6137e"
  accent "#ffffff"
}

keys {
  // direction
  goto "bottom-left" key="<"
  goto "top-right" key=">"
  goto "center" key="g c"
  goto "top-left" key="g g"
  goto "bottom-right" key="G"
  goto "bottom-left" key="<"

  // up movements
  goto "top" key="g k"

  move "up" 1 key="k"
  extend "up" 1 key="K"
  shrink "up" 1 key="k" mods="ctrl"

  move "up" 5 key="w"
  extend "up" 5 key="W"
  shrink "up" 5 key="w" mods="ctrl"

  // right movements
  goto "right" key="g l"

  move "right" 1 key="l"
  extend "right" 1 key="L"
  shrink "right" 1 key="l" mods="ctrl"

  move "right" 5 key="e"
  extend "right" 5 key="E"
  shrink "right" 5 key="e" mods="ctrl"

  // left movements
  goto "left" key="g h"  

  move "left" 5 key="b"
  extend "left" 5 key="B"
  shrink "left" 5 key="b" mods="ctrl"

  move "left" 1 key="h"
  extend "left" 1 key="H"
  shrink "left" 1 key="h" mods="ctrl"

  // bottom movements
  goto "bottom" key="g j"

  move "down" 1 key="j"
  extend "down" 1 key="J"
  shrink "down" 1 key="j" mods="ctrl"

  move "down" 5 key="n"
  extend "down" 5 key="N"
  shrink "down" 5 key="n" mods="ctrl"
}
